{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/mdb.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <title>Fetch API - DRF</title>
</head>
<body>
    <header class="header">
        <nav class="nav justify-content-center">
          <a class="nav-link active" href="#">FetchAPI - DRF</a>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright">
                Django Rest Framework + Vanilla JS (Fetch)
            </p>
        </div>
    </footer>


    <script src="{% static "js/mdb.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>
