{% extends "note_frontend/base.html" %}

{% load static %}

{% block content %}
    <main class="edit_thought">
        <div class="container-fluid">
            <div class="edit_card card">
                <p class="h2">
                    Delete Thought
                </p>
                <hr class="hr">
                <div class="edit_form">
                    <div class="login_form">
                        <form class="row g-3 needs-validation edit_form">
        
                            <div class="col-12" style="margin-bottom: 20px;">
                                <p class="confirm">
                                    Are you sure you want to completely remove this thought?
                                </p>
                                <span class="alert alert-danger">
                                    You can't undo this. <i class="fas fa-sad-tear    "></i>
                                </span>
                            </div>
        
                            <div class="col-6 confirm_button">
                                <button class="btn no_btn btn-block text-white" type="submit">
                                    No, please
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn yes_btn btn-block text-white" type="submit">
                                    Yes, sure
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}