{% extends "note_frontend/base.html" %}

{% load static %}

{% block content %}

<style>
div.messages {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

p.success {
    position: relative;
    background-color: rgb(11, 144, 11) !important;
    color: #fff !important;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 100% !important;
    font-weight: 600;
}

div.meta-links{
    margin-bottom: 30px;
}
</style>

<section class="login_body">

    {% if messages %}
    <div class="messages" id="messageDiv">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="login_card card">
        <p class="h3">
            Login
        </p>
        <div class="login_form">
            <form class="row g-3 needs-validation login_form" method="POST">
            {% csrf_token %}
                <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">
                        Username:
                    </label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    {{ form.username }}
                    <!-- <input type="text" class="form-control user_input" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required=""> -->
                    <div class="invalid-feedback">
                    Please choose a username.
                    </div>
                </div>
                </div>

                <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">
                        Password:
                    </label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    {{ form.password }}
                    <!-- <input type="password" class="form-control password_input" id="validationCustom03" required=""> -->
                    <div class="invalid-feedback">
                        Your password must be minimum of 8 characters.
                    </div>
                </div>
                </div>

                <div class="col-12">
                    <div class="forgotten_password">
                        <div class="meta-links">
                            <p class="h6">
                                Forgotten Password? <a href="http://">Click here</a>
                            </p>
                            <p class="h6">
                                Don't have an account? <a href="{% url "note:register" %}">Create Now</a>
                            </p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-block" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script defer>
    const mes = document.getElementById("messageDiv");

    setTimeout(() => {
        mes.style.display = 'none';
    }, 3000);
</script>

{% endblock content %}