{% extends "note_frontend/base.html" %}

{% load static %}

{% block content %}
<main class="profile">
    <div class="container-fluid">
        <div class="profile_header">
            <img src="{% static "img/avatar.png" %}" alt="" class="rounded-circle img-responsive">
        </div>
        <div class="profile_card card">
            <form class="row g-3 needs-validation edit_form">
    
                <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">
                        Username:
                    </label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </span>
                        <input type="text" value="Abram" class="form-control user_input" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="validationBio" class="form-label">
                            Who are you:
                        </label>
                        <textarea class="form-control edit_textarea" name="" id="editBio" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <div class="col-12">
                        <button class="btn edit_btn btn-block text-white" type="submit">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}